@model TestUsers.Models.Utilisateur

@{
    ViewData["Title"] = "Zone-Admin";
}

<h2>Zone Administration</h2>

<div>
    <h3>Cette zone est strictement réservée aux administrateurs.</h3>
    <h4>Toutes les modifications dans cette section peuvent avoir des effets importants sur la sécurité et les informations présentes sur le site.</h4>
    <h4>Prenez garde à vos actions.</h4>
</div>

<h3 class="alert" style="color:red;">Êtes vous certain de vouloir supprimer ce compte ?</h3>
<div>
    <h4>Votre profil :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pseudo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreationUtilisateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreationUtilisateur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDeNaissance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDeNaissance)
        </dd>
    </dl>

    <div class="form-group">
        @*Pour l image*@
        <label class="control-label">Avatar</label><br />
        <img src="@ViewBag.ImgPath" alt="@Model.Pseudo" class="img-responsive" /><br />
    </div>

    <form asp-action="Delete">
        <input type="hidden" name="userId" value="@Model.ApplicationUserID" />
        <input type="submit" value="Supprimer ce compte" class="btn btn-danger" /> |
        <a asp-action="Index">Retour liste utilisateurs</a>
    </form>
</div>
