@model TestUsers.Models.Utilisateur

@{
    ViewData["Title"] = "Zone Admin | Edit";
}
<h1 style="color:mediumvioletred;">ZONE ADMINISTRATION</h1>
<h2>Mettre à jour le profil de l'utilisateur</h2>
<h2 style="color:mediumvioletred;">Attention vous pouvez tout modifier</h2>
<hr />
 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUserID" />
            <div class="form-group">
                <label asp-for="Pseudo" class="control-label"></label>
                <input id="Pseudo" name="Pseudo" value="@Model.Pseudo" class="form-control" />
                <span asp-validation-for="Pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label" style="color:red;"></label>
                @Html.DropDownListFor(model => model.Role, (SelectList)ViewBag.listeRoles,"--Choisir--", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.Role, (SelectList)ViewBag.listeRoles, "--Select--", new { @class = "form-control" })*@

                @*<input id="@Model.Role" name="@Model.Role" class="form-control">@Html.DropDownList("listeRoles") </input>*@
                @Html.ValidationMessageFor(model => model.Role)

                <span asp-validation-for="Role" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DateCreationUtilisateur" class="control-label"></label>
                <input id="DateCreationUtilisateur" name="DateCreationUtilisateur" value="@Model.DateCreationUtilisateur" class="form-control" />
                <span asp-validation-for="DateCreationUtilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDeNaissance" class="control-label"></label>
                <input id="DateDeNaissance" name="DateDeNaissance" value="@Model.DateDeNaissance" class="form-control" />
                <span asp-validation-for="DateDeNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" asp-value="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @*Pour l image*@
            <div class="form-group">
                <label class="control-label">Avatar |  <a href="/Utilisateur/UploadImage/?userId=@Model.ApplicationUserID">Changer son Avatar</a></label><br />
                <img src="@ViewBag.ImgPath" alt="@Model.Pseudo" class="img-responsive" /><br />
                <input id="UrlAvatarImage" name="UrlAvatarImage" value="@Model.UrlAvatarImage" type="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="ConfirmEmail" class="control-label"></label>
                <input asp-for="ConfirmEmail" asp-value="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfilUtilisateurComplet" class="control-label"></label>
                <input asp-for="ProfilUtilisateurComplet" asp-value="Email" class="form-control" />
                <span asp-validation-for="ProfilUtilisateurComplet" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div></div>
<div>
    <a asp-controller="Admin" asp-action="Index">Acceuil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}